.UIInput {
  display: flex;
  flex-direction: column;
  gap: 5px;
  &__input {
    height: 1.5rem !important;
    padding: 6px 12px !important;
    outline: none;
    font-size: 24px;
  }
  &__errorMessage {
    font-size: 14px;
    color: red;
  }
}
.UIInput.error {
  outline: red;
}
